html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


table {
    border-collapse: collapse;
    margin: 0 auto;
}

table td {
    padding: 1rem;
    border: 5px solid black;
}

table tr:first-child td {
    border-top: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

table td:hover {
    background: #d5eff2;
}

nohover{
    background-color:none;
}