@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center d-flex align-items-center justify-content-center">
    <p>
        <a class="btn btn-lg btn-outline-dark" asp-controller="Game" asp-action="Play">New Game</a>
    </p>
</div>