@model ButterCheeseEggs.Models.GameState

@{
    ViewData["Title"] = "Play page";
}

<div>
    <div class=" align-top text-center">
        <p>
            Current player: 
        </p>
        <p>
            <b>@Model.NextStepBy</b>
        </p>
    </div>
<br />
<br />

    <div class="align-content-center">
        <table>
      <tr>
        <td>
            <a href="">
                <img alt="" src="" width="100" height="100">
            </a>
        </td>
        <td>
            <a href="">
                <img alt="" src="" width="100" height="100">
            </a>
        </td>
        <td>
            <a href="">
                <img alt="" src="" width="100" height="100">
            </a>
        </td>
      </tr>
      <tr>
        <td>
            <a href="">
                <img alt="" src="" width="100" height="100">
            </a>
        </td>
        <td>
            <a href="">
                <img alt="" src="" width="100" height="100">
            </a>
        </td>
        <td>
            <a href="">
                <img alt="" src="" width="100" height="100">
            </a>
        </td>
      </tr>
      <tr>
        <td>
            <a href="">
                <img alt="" src="" width="100" height="100">
            </a>
        </td>
        <td>
            <a href="">
                <img alt="" src="" width="100" height="100">
            </a>
        </td>
        <td>
            <a href="">
                <img alt="" src="" width="100" height="100">
            </a>
        </td>
      </tr>
    </table>
    </div>

<br />
<br />
    <div class="align-text-bottom text-center">
        <p>
            <a class="btn btn-lg btn-outline-dark" asp-controller="Game" asp-action="Reset">Reset</a>
        </p>
    </div>
</div>