@model ButterCheeseEggs.Models.GameState

@{
    ViewData["Title"] = "Play page";
}

<div class="text-center">
    <p>
        Player X or O
    </p>
</div>

<div class="align-content-center">
    <table>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
</div>


<div class="container text-center d-flex align-items-center justify-content-">
    <p>
        <a class="btn btn-lg btn-outline-dark" asp-controller="Game" asp-action="Reset">Reset</a>
    </p>
</div>