@model ButterCheeseEggs.Models.GameState

@{
    ViewData["Title"] = "Play page";
}

<div>
    <div class=" align-top text-center">
        <p>
            Current player: 
        </p>
        <p>
            <b>@Model.NextStepBy</b>
        </p>
    </div>
<br />
<br />

    <div class="align-content-center">
        <table>
            @for(int y=0; y < Model.Table.YSize; y++)
            {
                <tr>
                    @for(int x = 0; x < Model.Table.XSize; x++)
                    {
                        <td>
                            <a href="">
                                <img src="@SelectImage(x, y)" width="100" height="100">
                            </a>
                        </td>
                    }
                </tr>
            }
    </table>
    </div>

<br />
<br />
    <div class="align-text-bottom text-center">
        <p>
            <a class="btn btn-lg btn-outline-dark" asp-controller="Game" asp-action="Reset">Reset</a>
        </p>
    </div>
</div>



@{
    string SelectImage(int x, int y)
    {
        TileStates state= Model.Table[x, y];

        switch (state)
        {
            case TileStates.Empty:
                return "/img/tile_empty.svg";
            case TileStates.O:
                return "/img/tile_o.svg";
            case TileStates.X:
                return "/img/tile_x.svg";
            default:
                throw new NotSupportedException("Tile state not supported: " + state);
        }


    }



}